.nav {
    list-style-type: none;
    display: flex;
   justify-content:space-between;
   padding-left: 20%;
}

li {
    padding: 10px;
    margin: 10px;
 }


header {
    width: 100%;
display: flex;
justify-content: space-between;
}

.logo {
    margin-left: 5%;
    display: flex;
    align-items: center;
    
    .title-ali{
     padding-left: 20%;
    }
}
.btnchat {
background-color: rgb(0,119,255);
border: 5px;
height: 30px;
width: 100px;
color: white;
margin-right: 5%;
border-radius: 15px;
}

a {
    text-decoration: none;
}
.skill-ul {
display: flex;
justify-content: space-around;
background-color: rgb(225, 224, 224);
margin-top: 50px;
list-style-type: none;

}

.headline {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
}

.title-area {
    width: 40%;
}

.image-area {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name {
    color: rgb(0,119,255) ;
}

.chatbtn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    color: rgb(0,119,255) ;
    border-radius: 15px;
    border-color: whitesmoke;
}